﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DSR_KAZAR_N1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DSR_KAZAR_N1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/smoothness/jquery-ui.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <a id="home" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">S L I K A R S T V O</a>
            <ul id="reg" class="navbar-nav flex-grow-2">
                <li class="nav-item">
                    <a class="nav-link text-primary flex-grow-3" asp-area="" asp-controller="Registracija" asp-action="">Registracija</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary flex-grow-3" asp-area="" asp-controller="Racuns" asp-action="">Racuni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary flex-grow-3" asp-area="" asp-controller="Slikas" asp-action="">Slike</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary flex-grow-3" asp-area="" asp-controller="UporabnikModels" asp-action="">Uporabnik</a>
                </li>
                
            </ul>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @DateTime.Now
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>