@model Double
<h3>Double @Model.ToString()</h3>
<div id="slider">
    <input type="range" min="0" max="10000.00" value="@Model.ToString()" onchange="updateValue(this.value)" />
</div>

<script>
    function updateValue(newValue) {
        document.querySelector('h3').innerText = 'Double ' + newValue;
    }
</script>