@model DSR_KAZAR_N1.Models.Slika

<h4>Slika</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SlikaPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ime" class="control-label"></label>
                <input asp-for="ime" class="form-control" />
                <span asp-validation-for="ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cena" class="control-label"></label>
                <input asp-for="cena" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="letoIzdaje" class="control-label"></label>
                <input asp-for="letoIzdaje" class="form-control" />
                <span asp-validation-for="letoIzdaje" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="jeUnikat" /> @Html.DisplayNameFor(model => model.jeUnikat)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
