@model DSR_KAZAR_N1.Models.Racun

@using (Html.BeginForm("racunPost", "Home", FormMethod.Post))
{
@Html.EditorForModel()
<div class="form-group">
    <input type="submit" value="Dodaj Racun" class="btn btn-primary" />
</div>
}