@model DSR_KAZAR_N1.Models.Slika

@using (Html.BeginForm("slikaPost", "Home", FormMethod.Post))
{
    @Html.EditorForModel()

<div class="form-group">
    <input type="submit" value="Dodaj sliko" class="btn btn-primary" />
</div>
}