@model DSR_KAZAR_N1.Models.Uporabnik
@using (Html.BeginForm("uporabnikPost", "Home", FormMethod.Post))
{
@Html.EditorForModel()

<div class="form-group">
    <input type="submit" value="Dodaj Uporabnika" class="btn btn-primary" />
</div>
}