@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome !</h1>
    <p>Take a look around the art shop or <a href="https://feri.um.si">check out this website</a>.</p>
</div>
