@{
    ViewData["Title"] = "Racuni";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>Datum izdaje : @ViewBag.Racun.datumIzdaje</p>
<p>Nakup : </p>
@if(ViewBag.Racun.nakup.Count != 0)
{
    @foreach (SlikaModel s in ViewBag.Racun.nakup)
    {
        <p>@s.ime</p>
    }
}
else
{
<p>V računu ni slike</p>
}

<p>Skupna cena : @ViewBag.Racun.cenaSkupaj</p>
