@using (Html.BeginForm("", "Registracija", FormMethod.Post))
{
    <div id="tabs">
        <ul>
            <li><a href="#tab-ime">Ime</a></li>
            <li><a href="#tab-naslov">Naslov</a></li>
            <li><a href="#tab-zakljuci">Zakljuci</a></li>
        </ul>
        <div id="tab-ime">
            @Html.Partial("_Ime")
        </div>
        <div id="tab-naslov">
            @Html.Partial("_Naslov")
        </div>
        <div id="tab-zakljuci">
            @Html.Partial("_Zakljuci")
        </div>
    </div>
    <div class="row">

        <div class="col-8">
            <a asp-action="Login" class="text-decoration-none float-start mt-2">Imam Račun </a>
        </div>
        <div class="col-4">
            <input type="submit" value="Registriraj se" class="btn btn-primary btn-sm float-end" />
        </div>
    </div>
}