
<div id="tabs1">
    <ul>
        <li><a href="#tab-ime">Ime</a></li>
        <li><a href="#tab-naslov">Naslov</a></li>
        <li><a href="#tab-zakljuci">Zakljuci</a></li>
        <li><a href="#tab-nov-uporabnik">Nov Uporabnik</a></li>
    </ul>
    <div id="tab-ime">
        @Html.Partial("_Ime")
    </div>
    <div id="tab-naslov">
        @Html.Partial("_Naslov")
    </div>
    <div id="tab-zakljuci">
        @Html.Partial("_Zakljuci")
    </div>
    <div id="tab-nov-uporabnik">
        @Html.Partial("_novUporabnik")
    </div>
</div>