@{   
    if (TempData.Peek("name") == null || TempData.Peek("surname") == null || TempData.Peek("birthdate") == null || TempData.Peek("emso") == null)
    {
        Context.Response.Redirect("/Registracija");
    }
    ViewData["Title"] = "Naslov :";
}
<h1>@TempData.Peek("name") @TempData.Peek("surname") @TempData.Peek("birthdate") @TempData.Peek("emso")</h1>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">User Registration Form</h2>
        </div>
        <div class="card-body">
            <form action="Zakljuci" method="post">
                <div class="form-group">
                    <label for="address">Naslov:</label>
                    <input type="text" id="address" name="address" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="postnum">Poštna številka:</label>
                    <input type="number" id="postnum" name="postnum" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="post">Pošta:</label>
                    <input type="text" id="post" name="post" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="country">Država:</label>
                    <input type="text" id="country" name="country" class="form-control" required>
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Next step</button>
            </form>
        </div>
    </div>
</div>

