@{
    ViewData["Title"] = "Naslov :";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">User Registration Form</h2>
        </div>
        <div class="card-body">
            <form action="Zakljuci" method="post">
                <div class="form-group">
                    <label for="naslov">Naslov:</label>
                    <input type="text" id="naslov" name="naslov" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="postnum">Poštna številka:</label>
                    <input type="number" id="postnum" name="postnum" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="posta">Pošta:</label>
                    <input type="text" id="posta" name="posta" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="drzava">Država:</label>
                    <input type="text" id="drzava" name="drzava" class="form-control" required>
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Next step</button>
            </form>
        </div>
    </div>
</div>

