@model DSR_KAZAR_N1.Models.UporabnikModel

<div>
    <hr />
    @Html.DisplayForModel()
</div>
<div class="align-content-center">
    <label for="ocena" class="ocenaLable">Ocenite svojo izkušnjo ustvarjanja računa:</label>
    <br />
    <div class="slider-container">
        <input type="range" class="form-range" min="1" max="5" step="1" id="ocena">
        <div class="labels">
            <span>Slabo</span>
            <span>Sprejemljivo</span>
            <span>Vredu</span>
            <span>Dobro</span>
            <span>Brezhibno</span>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div>
        <button type="button" id="return-btn" class="btn btn-primary" onclick="window.location.href='/'">Vrni se na začetno stran.</button>
    </div>

</div>
<div>
    <a asp-action="Index" asp-controller="Home">Na Domačo stran</a>
</div>
