html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    direction: rtl;
    position: relative;
    min-height: 100%;
}

body {
    direction: ltr;
    margin-bottom: 60px;
}

.accordion-content {
    display: none;
}
.accordion {
    width: 30rem; 
    align-content: baseline;
}
#reg{
    justify-content: right;
}

.slider-container {
    width: 50%; 
    margin: 0 auto; 
    position: relative;
}

.labels {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 25px; 
}

.labels span {
   font-size: 12px; 
}

.ocenaLable {
    position: absolute;
    left: 33%;
    transform: translateY(-90%);
}
.align-content-center {
    width: 50%; 
    margin: 0 auto;
    right: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#return-btn {
    width: 50%;
    margin: 0 auto;
    right: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(90%);
}
